.DS_Store
.idea/
.vagrant/*
.DS_Store?
._*
.Spotlight-V100
.Trashes
.classpath
.project
.settings
.idea
.metadata
.bowerrc
build/*
log/*
!log/.gitkeep
node_modules/
vendor/
web/js/src

*.box
composer.phar
Thumbs.db
Vagrantfile